@charset "UTF-8";

/*
    em HTML id  =  em CSS é #
    em HTML class = em CSS é .
*/

body{
    background-color: rgb(13, 66, 134);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #0d610d;
}

h1#Principal{
    text-align: center;
    background-color: wheat;
}

h2{
    color:#34ad34
}